body {
    background-color: #e84756;
    /* font-family: fantasy; */
}

.header {
    /* background-color: rgb(243, 70, 70); */
    min-height: 50px;
    /* align-items: center; */
    text-align: center;
    color: white;
    /* width: 110%; */
    /* font-family: 'Trebuchet MS', sans-serif; */
    
}

.pageFlexBox {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* align-items: left; */
    /* justify-content: flex-start; */
    background-color: white;
    /* min-width: 100%; */
    min-height: 850px;
    height: 100%;
    width: 100%;
    /* padding-left: 10%;
    padding-right: 10%; */
    /* border: 2px solid black; */
    /* padding-top: 3%; */
}

.topRow {
display: flex;
justify-content: center;
/* padding: 00px 23% 00px 23%; */
height: 400px;
width: 100%;
align-items: left;
/* border: 2px solid black; */
padding-top: 50px;
}

.bottomRow {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    align-items: left;
    /* padding-left: 32%;
    padding-right: 32%; */
    /* border: 2px solid black; */
    /* padding-top: 50px; */
    }

.cardHeader {
    text-align: left;
    display: inline-block;
    background-color: #0077f7;
    /* padding: -5%; */
    /* max-height: 15vh; */
    height: 80px;
    width: 300px;
    color:white;
    padding-left: 3%;
    padding-top: 5px;
    border-radius: 7px 7px 00px 00px;
    /* border: solid, 12px, black; */
    font-size: 20pt;
}

.cardContent {
    /* display: flex; */
    /* flex-wrap: wrap; */
    text-align: left;
    width: 100%;
    height: 187px;
    background-color: #f6f7f9;
    padding-top: 70px;
}

.span {
    font-size: 20pt;
    padding-left: 3%;
    margin-top: -10px;
    /* padding-bottom: 10px; */
}

.cardTextBox {
    background-color: white;
    width: 250px;
    height:45px;
    box-shadow: 0 0 10px 2px;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: -12px;
    margin-top: 3px;
    
    /* margin-top: 10px; */

}

.card {
    display: flex;
    flex-wrap: wrap;
    /* min-width: 30%; */
    /* min-height: 30%; */
    /* max-width: 30%; */
    /* max-height: 30%; */
    height: 350px;
    width: 300px;
    box-shadow: 0 0 10px 2px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 0px 25px 0px 25px;
    box-shadow: 0 0 10px 2px;
}

.card1Icon {
    max-width: 48px;
    max-height: 48px;
    margin-top: 0px;
}

.card1Name {
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-bottom:5px; */
}

.card2Icon {
    max-width: 48px;
    max-height: 48px;
    margin-top: 0px;
}

.card2Name {
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-bottom:5px; */
}
.card3Icon {
    max-width: 48px;
    max-height: 48px;
    margin-top: 0px;
}

.card3Name {
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-bottom:5px; */
}

.card4Icon {
    max-width: 48px;
    max-height: 48px;
    margin-top: 0px;
}

.card4Name {
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-bottom:5px; */
}

.card5Icon {
    max-width: 48px;
    max-height: 48px;
    margin-top: 0px;
}

.card5Name {
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-bottom:5px; */
}





